body {
  background-color: #18181a;
  color: #c5c8c7;
  font-size: 14px;
  word-wrap: break-word;
  margin-top: 30px;
  line-height: 1.4;
  font-weight: 400;
  font-family: Open Sans,sans-serif;
}

.main, body, html {
  height: 100%;
}

main {
  display: block;
}

a {
  border: none;
  outline: none;
  text-decoration: none !important;
  color: #afd2dd;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  font-size: 14px;
  border-bottom: none;
  background: #282a2e;
  box-shadow: 0 0 4px 0 #111;
  cursor: default;
  user-select: none;
  z-index: 100
}

.header,
.header-item {
  box-sizing: border-box
}

.header-item {
  display: inline-block;
  height: 100%;
  line-height: 30px;
  text-align: center;
  padding: 0 15px;
  color: #c5c8c6;
  text-decoration: none;
  outline: none;
  transition: .05s linear
}

.header-item:hover {
  color: #fff;
}

.header-board {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.header-spacer {
  flex: 1;
}

.description {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 3%;
  font-size: 2em;
}

.page-title {
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  color: #afd2dd;
}

.board {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 60px 60px;
}

.board, .main {
  box-sizing: border-box;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  background: transparent;
  color: #79828a;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.button, .button:not(:disabled):hover {
  border: 1px solid #80959f;
  transition: .1s linear;
}

.button:not(:disabled):hover {
  color: #c4cfe2;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.275),0 0 8px rgba(92,137,158,.85);
}

.button:disabled {
  cursor: default;
  opacity: .5;
}

.button:focus {
  outline: none;
}

.board-nav-item, .thread-nav-item {
  margin-right: 5px;
}

.board-pagination {
  display: inline-block;
  user-select: none;
  cursor: default;
}

.board-pagination-page {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  opacity: .7;
}

.board-pagination-page-current {
  color: #fff;
  border: 1px solid #80959f;
  border-radius: 2px;
  opacity: 1;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.separator {
  width: 100%;
  margin: 20px 0;
  border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
  border-top: 1px solid #3b3240;
}

.thread-container {
  flex: 1 auto;
}

.thread {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-op:not(.post-hover):not(.post-catalog) {
  min-width: 1000px;
}

.post-op:not(.post-hover) {
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.post-op {
  color: #e7e7e7;
}

.post {
  margin: 0 0 10px;
  padding: 4px 10px;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1000px;
  background: #303136;
  box-shadow: 1px 1px 9px 0 rgba(0,0,0,.2);
  word-wrap: break-word;
  word-break: break-word;
}

.post-op, .post-header {
  font-size: larger;
}

.post-header {
  width: 100%;
}

.post-header-item {
  display: inline-block;
}

.post-op .post-id {
  color: #afd2dd;
}

.post-id {
  color: #a5a5a5;
}

.post-id:hover {
  color: #afd2dd;
}

.post-header-item ~ .post-header-item {
  margin-left: 10px;
}

.post-subject {
  color: #afd2dd;
}

.post-name {
  color: #8a8a8a;
  cursor: default;
  font-size: 16px;
}

.post-footer {
  width: 100%;
}

.post-backlinks {
  font-size: smaller;
}

.post-controls {
  width: 100%;
}

.control {
  display: inline-block;
  font-size: 17px;
  padding: 0;
  text-align: center;
  background: none;
  border: none;
  color: #afd2dd;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: .1s;
}

.post-quote-control {
  float: right;
  margin-right: 0;
  padding: 0 0 0 15px;
  font-size: 13px;
}

.post-op .post-quote-control {
  float: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.fa-reply::before {
  content: "\f112";
}

h3 {
  display: inline;
  font-size: inherit;
  margin: 0;
  color: #2f4d0c;
}

.post-time {
  font-size: 14px;
  float: right;
  position: relative;
  bottom: -3px;
  cursor: default;
  color: #868686;
}

.post-op .post-time {
  float: none;
  position: static;
  color: #86847f;
}

.post-op .post-body {
  margin: 10px 0;
}

.post-body {
  width: 100%;
  margin: 6px 0;
}

.post-message {
  margin: 0;
  padding: 1px 0;
  max-height: 500px;
  overflow-y: auto;
}

.omit {
  margin-top: 2px;
  margin-bottom: 8px;
  white-space: nowrap;
  color: #8a8a8a;
}

.omit-link {
  font-size: 16px;
  font-weight: 600;
  color: #99c9d4;
}

.reply-form {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 5px;
}

.form-raw {
  display: flex;
}

.form-input-raw {
  display: inline;
  background-color: #282a2e;
  color: #c5c8c6;
  border: 1px solid #4F6273;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 180px;
}

.form-button {
  background-color: #282a2e;
  color: #c5c8c6;
  border: 1px solid #4F6273;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 100px;
}

.form-sage {
  background-color: #282a2e;
  color: #c5c8c6;
  border: 1px solid #4F6273;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 100px;
}

.form-button:hover {
  border: 1px solid #afd2dd;
}

.form-postarea {
  position: relative;
  min-width: 475px;
  min-height: 70px;
}
