<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/dark.css">
  <title>/{{ .CurrentBoard.Link }}/ - {{ .CurrentBoard.Name }}</title>
</head>
<body>
  {{ template "header.tmpl" . }}
  <main class="main">
    <section id="threads" class="board">
      <h1 class="page-title">
        /{{ .CurrentBoard.Link }}/ - {{ .CurrentBoard.Name }}
      </h1>
      <nav class="board-nav">
        <a class="button board-nav-item" id="new-reply">New Thread</a>
        <a class="button board-nav-item">Catalog</a>
        {{ template "paging.tmpl" .Pages }}
      </nav>
      {{ template "form.tmpl" . }}
      <hr class="separator">
      <section id="index-thread-container" class="thread-container">
      {{ range $index, $op := .Threads }}
        <article id="thread-{{ .OP.ID }}" class="thread thread-index" data-id="{{ .OP.ID }}">
          <article id="post-{{ .OP.ID }}" class="post post-op post-file post-by-anon" data-id="{{ .OP.ID }}">
            <header class="post-header">
              <a class="post-header-item post-id" href="/{{ $.CurrentBoard.Link }}/{{ .OP.ID }}">#{{ .OP.ID }}</a>
              <h3 class="post-header-item post-subject">{{ .OP.Subject }}</h3>
              <time class="post-header-item post-time">{{ .OP.FormatTimestamp }}</time>
            </header>
            <section class="post-body">
              <div class="post-files"></div>
              <blockquote class="post-message">{{ .OP.RenderedText }}</blockquote>
            </section>
            <footer class="post-footer"></footer>
          </article>
          <div class="omit">
          {{ if eq .Omitted 1 }}
            <div class="omit-info">{{ .Omitted }} reply omitted</div>
          {{ else if ne .Omitted 0 }}
            <div class="omit-info">{{ .Omitted }} replies omitted</div>
          {{ end }}
            <a class="omit-link" href="/{{ $.CurrentBoard.Link }}/{{ .OP.ID }}">Go to thread</a>
          </div>
        {{ range .Replies }}
          <article id="post-{{ .ID }}" class="post post-by-anon" data-id="{{ .ID }}">
            <header class="post-header">
              <a class="post-header-item post-id" href="/{{ $.CurrentBoard.Link }}/{{ $op.OP.ID }}#{{ .ID }}">#{{ .ID }}</a>
              <h3 class="post-header-item post-subject"></h3>
              <time class="post-header-item post-time">{{ .FormatTimestamp }}</time>
            </header>
            <section class="post-body">
              <div class="post-files"></div>
              <blockquote class="post-message">{{ .RenderedText }}</blockquote>
            </section>
            <footer class="post-footer"></footer>
          </article>
        {{ end }}
        {{ if ne $index $.LastId }}
          <hr class="separator">
        {{ end }}
        </article>
      {{ end }}
      </section>
      <hr class="separator">
      <nav class="board-nav">
        <a class="button board-nav-item">Catalog</a>
        {{ template "paging.tmpl" .Pages }}
      </nav>
    </section>
  </main>
</body>
<script type="text/javascript" src="/static/main.js"></script>
</html>
