<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/dark.css">
  <script type="text/javascript" src="static/toggle.js"></script>
  <title>{{ .CurrentBoard.Name }} - meowchan</title>
</head>
<body>
  <header class="header">
    <a class="header-item header-board" href="/" title="Main page">main_page</a>
    {{ range .Header }}
    <a class="header-item header-board" href="/{{ .Link }}" title="{{ .Name }}">{{ .Name }}</a>
    {{ end }}
    <div class="header-spacer"></div>
    <a class="header-item header-board" href="/">info</a>
    <a class="header-item header-board" href="/">settings</a>
    <a class="header-item header-board" href="/">mod_log</a>
  </header>
  <main class="main">
    <section id="threads" class="board">
      <h1 class="page-title">
        /{{ .CurrentBoard.Link }}/ - {{ .CurrentBoard.Name }}
      </h1>
      <nav class="board-nav">
        <a class="button board-nav-item" onclick="changeVisible('reply-form');">Neuer Thread</a>
        <a class="button board-nav-item">Katalog</a>
        <div class="board-pagination">
          {{ range .Pages.Pages }}
            {{ if eq $.Pages.Current . }}
              <span class="board-pagination-page board-pagination-page-current">{{.}}</span>
            {{ else }}
              <a class="button board-pagination-page" href="?page={{.}}">{{.}}</a>
            {{ end }}
          {{ end }}
        </div>
      </nav>
      <div class="reply-form" id="reply-form" style="display: none;">
        <form id="post-form" action="/api/post" method="post" enctype="multipart/form-data">
          <input type="hidden" name="board" value="{{ .CurrentBoard.Link }}">
          <input type="hidden" name="parent" value="0">
          <div class="form-raw">
            <input class="form-input-raw" type="text" id="subject" name="subject" placeholder="subject">
            <input class="form-input-raw" type="text" id="name" name="name" placeholder="name">
            <input id="submit" type="submit" name="submit" value="post" class="form-button">
          </div>
          <div class="form-raw">
            <textarea class="form-input-raw form-postarea" placeholder="max symbols: 2000" name="text"></textarea>
          </div>
          <div class="form-raw">
            <div class="form-sage">
              <input id="sage" type="checkbox" name="sage" value="true">
              <span title="don't bump this thread">sage</span>
            </div>
          </div>
        </form> 
      </div>
      <hr class="separator">
      <section id="index-thread-container" class="thread-container">

      {{ range $index, $op := .Threads }}
        <article id="thread-{{ .OP.ID }}" class="thread thread-index" data-id="{{ .OP.ID }}">
          <article id="post-{{ .OP.ID }}" class="post post-op post-file post-by-anon" data-id="{{ .OP.ID }}">
            <header class="post-header">
              <a class="post-header-item post-id" href="/{{ $.CurrentBoard.Link }}/{{ .OP.ID }}">#{{ .OP.ID }}</a>
              <h3 class="post-header-item post-subject">{{ .OP.Subject }}</h3>
              <time class="post-header-item post-time">{{ .OP.FormatTimestamp }}</time>
            </header>
            <section class="post-body">
              <div class="post-files"></div>
              <blockquote class="post-message">
                {{ .OP.Text }}
              </blockquote>
            </section>
            <footer class="post-footer"></footer>
          </article>
          <div class="omit">
          {{ if eq .Missed 1 }}
            <div class="omit-info">{{ .Missed }} Post fehlend</div>
          {{ else if ne .Missed 0 }}
            <div class="omit-info">{{ .Missed }} Posts fehlend</div>
          {{ end }}
            <a class="omit-link" href="/{{ $.CurrentBoard.Link }}/{{ .OP.ID }}">zum Thread</a>
          </div>
        {{ range .Replies }}
          <article id="post-{{ .ID }}" class="post post-by-anon" data-id="{{ .ID }}">
            <header class="post-header">
              <a class="post-header-item post-id" href="/{{ $.CurrentBoard.Link }}/{{ $op.OP.ID }}#{{ .ID }}">#{{ .ID }}</a>
              <h3 class="post-header-item post-subject"></h3>
              <time class="post-header-item post-time">{{ .FormatTimestamp }}</time>
            </header>
            <section class="post-body">
              <div class="post-files"></div>
              <blockquote class="post-message">
                {{ .Text }}
              </blockquote>
            </section>
            <footer class="post-footer"></footer>
          </article>
        {{ end }}
          <hr class="separator">
        </article>
      {{ end }}

      </section>
      <hr class="separator">
    </section>
  </main>
</body>
</html>
