<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/dark.css">
  <title>mya ib</title>
</head>
<body>
  <header class="header">
    <a class="header-item header-board" href="/" title="Main page">main_page</a>
    {{ range .Header }}
    <a class="header-item header-board" href="/{{ .Link }}" title="{{ .Name }}">{{ .Name }}</a>
    {{ end }}
    <div class="header-spacer"></div>
    <a class="header-item header-board" href="/">info</a>
    <a class="header-item header-board" href="/">settings</a>
    <a class="header-item header-board" href="/">mod_log</a>
  </header>
  <div class="description">
    ~ main page template ~
  </div>
</body>
</html>
