<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/dark.css">
  <title>mya ib</title>
</head>
<body>
  {{ template "header.tmpl" . }}
  <div class="description">
    ~ main page template ~
  </div>
</body>
</html>
