<div class="board-pagination">
  {{ range .Pages }}
    {{ if eq $.Current . }}
      <span class="board-pagination-page board-pagination-page-current">{{.}}</span>
    {{ else }}
      <a class="button board-pagination-page" href="?page={{.}}">{{.}}</a>
    {{ end }}
  {{ end }}
</div>
