<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/dark.css">
  <title>{{ .OP.Subject }}</title>
</head>
<body>
  {{ template "header.tmpl" . }}
  <main class="main">
    <section id="threads" class="board">
      <h1 class="page-title">
        {{ .OP.Subject }}
      </h1>
      <hr class="separator">
      <section id="index-thread-container" class="thread-container">
        <article id="thread-{{ .OP.ID }}" class="thread thread-index" data-id="{{ .OP.ID }}">
          <article id="post-{{ .OP.ID }}" class="post post-op post-by-anon {{ if .OP.HasFiles }}post_file{{ end }}" data-id="{{ .OP.ID }}">
            <header class="post-header">
              <a class="post-header-item post-id" href="/{{ .CurrentBoard.Link }}/{{ .OP.ID }}">#{{ .OP.ID }}</a>
              <span class="post-header-item post-name">Мяука</span>
              <time class="post-header-item post-time">{{ .OP.FormatTimestamp }}</time>
            </header>
            <section class="post-body">
              {{ template "post-files.tmpl" .OP }}
              <blockquote class="post-message">{{ .OP.RenderedText }}</blockquote>
            </section>
            <footer class="post-footer">
              <div class="post-controls">
                <a class="control post-control post-quote-control trigger-quote-post">
                  <i class="fa fa-reply trigger-quote-post"></i>
                </a>
              </div>
            </footer>
          </article>
          {{ range .Replies }}
            <article id="post-{{ .ID }}" class="post post-by-anon {{ if .HasFiles }}post_file{{ end }}" data-id="{{ .ID }}">
            <header class="post-header">
              <a class="post-header-item post-{{ .ID }}" href="/{{ $.CurrentBoard.Link }}/{{ $.OP.ID}}#{{ .ID }}">#{{ .ID }}</a>
              <h3 class="post-header-item post-subject"></h3>
              <time class="post-header-item post-time">{{ .FormatTimestamp }}</time>
            </header>
            <section class="post-body">
              {{ template "post-files.tmpl" . }}
              <blockquote class="post-message">{{ .RenderedText }}</blockquote>
            </section>
            <footer class="post-footer">
              <div class="post-backlinks"></div>
              <div class="post-controls">
                <a class="control post-control post-quote-control trigger-quote-post">
                  <i class="fa fa-reply trigger-quote-post"></i>
                </a>
              </div>
            </footer>
          </article>
          {{ end }}
        </article>
      </section>
      <hr class="separator">
      <nav class="thread-nav">
        <a class="button thread-nav-item thread-nav-back" href="/{{ .CurrentBoard.Link }}">Return</a>
        <a class="button thread-nav-item thread-nav-kata" href="/">Catalog</a>
        <a class="button thread-nav-item thread-nav-kata" id="new-reply">Reply</a>
      </nav>
      {{ template "form.tmpl" . }}
    </section>
  </main>
</body>
<script type="text/javascript" src="/static/main.js"></script>
</html>
